<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
    <h1>Librería</h1>
    <div>
        <h1>Libros Almacenados</h1>
        <table>
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Título</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Año de Publicación</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="libro : ${libros}">
                    <th scope="row" th:text="${libro.idLibro}"></th>
                    <td th:text="${libro.titulo}"></td>
                    <td th:text="${libro.autor}"></td>
                    <td th:text="${libro.anioPublicacion}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
